#communicationSaveIndicator {
    display: none;
    padding: 0px 5px;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.5s;
    border:1px solid transparent;
}

#communicationSaveIndicator.unsaved {
    border: 1px solid red;
    display: flex;
    background: rgba(255, 0, 0, 0.3);
}

#communicationSaveIndicator.pending {
    border: 1px solid orange;
    display: flex;
    background: rgba(255, 155, 0, 0.15);
}

#objectSaveIndicator {
    font-weight: normal;
}

#objectSaveIcon {
    display: flex;
    align-items: center;
    font-weight: normal;
}

#mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#communication {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#communicationSplashScreen {
    display: none;
    flex: 1;
}

#splashTitle {
    text-align: center;
    margin: 10px;
}

#spashSubTitle {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: 5px;
    font-style: italic;
}

#splashExplainDivHolder {
    display: flex;
    justify-content: center;
}

#splashExplainDiv {
    display: flex;
    justify-content: center;
    height: 30%;
    width: fit-content;
}

#splashExplainDiv div.splashExplainSection {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 20px;
    padding: 5px;
    border: 2px solid color-mix(in srgb, var(--card-color, black) 80%, black);
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px color-mix(in srgb, var(--card-color, black) 80%, black);
    transition: 0.5s;
    position: relative;
}

#splashExplainDiv div.splashExplainSection:not(:nth-last-child(1))::after {
    content: ">";
    position: absolute;
    left: 105%;
    top: 45%;
    font-size: 25px;
    color:
        color-mix(in srgb, var(--card-color, black) 50%, transparent);

}

#splashExplainDiv div.splashExplainSection:hover {
    background-color: color-mix(in srgb, var(--card-color, black) 3%, transparent);
}

#splashExplainDiv div.splashExplainSection b {
    font-size: 20px;
}

#splashExplainDiv div.splashExplainSection p {
    flex: 1;
}

#splashExplainDiv div.splashExplainSection span.splashExplainIcon {
    font-size: 6em;
    color: var(--card-color, black);
    cursor: default;
    margin-bottom: 5px;
}

#splashStartButtonHolder {
    display: grid;
    justify-items: center;
    margin-top: 30px;
}

#splashStartButton {
    width: 60%;
    max-width: 600px;
    height: 4em;
    border: 2px solid color-mix(in srgb, var(--theme-color, black) 70%, black);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 10px 1px color-mix(in srgb, var(--theme-color, black) 40%, black);
}

@media(max-width: 1000px) {
    #splashExplainDiv {
        flex-direction: column;
    }

    #splashStartButton {
        width: 80%;
    }
}

#communicationMainPanel {
    flex: 1;
    display: none;
    flex-direction: row-reverse;
}

#qrCodePanel {
    border-left: 1px solid gray;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0px 5px 0px gray;
}

#qrCodePanel h1 {
    margin: 10px;
    text-align: center;
}

#qrImage {
    background-color: rgba(100, 100, 100, 0.2);
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px gray;
}

button.infoI {
    margin-left: 5px;
    border: 2px solid color-mix(in srgb, var(--theme-color) 50%, transparent);
    border-radius: 50%;
    width: 22px;
    text-align: center;
}

#qrListContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#qrCandidateListHolder {
    flex: 1;
    overflow-y: auto;
}

div.qrCandidateListEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    padding: 5px 0px;
}

div.qrCandidateListEntry:nth-child(even) {
    background: rgba(200, 200, 200, 0.2);
}

div.qrCandidateListEntry.registered {
    color: darkgreen;
    font-weight: bold;
}

span.qrListCandidateIcon {
    width: 25px;
    border-radius: 5px;
    text-align: center;
    height: 100%;
}

p.qrListCandidateNameLabel {
    flex: 1;
    margin: 0;
    margin-left: 5px;
    border-radius: 5px;
    line-height: 25px;
    padding: 0px 5px;
    padding-left: 0px;
    height: 100%;
}

p.qrListError {
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    color: darkred;
    font-weight: bold;
    background-color: rgba(100, 100, 100, 0.2);
}

button.qrListCandidateBypassButton {
    border: none;
    height: 100%;
    width: 35px;
    margin-left: 5px;
    background: transparent;
}

#qrListHeaderBar {
    display: flex;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.25);
    align-items: center;
    border-radius: 5px;
    padding: 5px 0px;
}

#qrListRefreshButton {
    margin-right: 5px;
    border: none;
}

#qrCodeCandidateLimitLabel {
    margin: 5px 0px;
    font-size: 14px;
}

#bypassDialog h1 {
    margin: 5px auto;
}

#bypassDialog h4 {
    font-weight: normal;
    text-align: center;
    margin: 5px;
}

#bypassCodeSpan {
    margin: 5px 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: color-mix(in srgb, var(--theme-color, black) 15%, transparent);
    box-shadow: 0px 0px 5px 2px color-mix(in srgb, var(--theme-color, black) 55%, transparent);
}

#bypassDialog h5 {
    text-align: center;
    font-weight: normal;
    margin: 5px auto;
}

#configurationPanel {
    flex: 1;
    display: flex;
    margin-top: 5px;
}

div.configPanelColumn {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

div.configPanel {
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    max-height: fit-content;
}

div.configPanel:not(:nth-child(1)) {
    margin-top: 5px;
}

div.configPanel h1 {
    margin: 5px;
    text-align: center;
    font-size: 24px;
}

div.configPanelContent {
    flex: 1;
    overflow-y: auto;
}

#settingsPanel label {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
}

div.scheduleUnit {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.4);
    border: 1px solid black;
}

span.scheduleUnitInfoBar {
    display: flex;
}

span.scheduleUnitActionHolder {
    display: flex;
}

span.scheduleUnitActionHolder button,
button.deletebtn {
    border: none;
    font-size: 18px;
    background-color: transparent;
    align-self: center;
    margin-left: 5px;
    font-weight: bold;
    height: 100%;
}

button.deletebtn {
    color: darkred;
}

span.scheduleUnitInfoBar label {
    flex: 1;
    display: flex;
    align-items: center;
}

span.scheduleUnitInfoBar label input,
span.scheduleUnitInfoBar label select {
    flex: 1;
    margin: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

label.scheduleUnitNoteLabel {
    margin-top: 5px;
}

limited-textarea {
    resize: none;
    height: 4rem;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
}

div.scheduleUnitSession {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

span.addButtonSpan {
    display: flex;
    justify-content: center;
    width: 100%;
}

button.addButton {
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
    font-weight: bold;
    border-color: black;
}

div.linkEntry,
div.noteEntry {
    background-color: rgba(100, 100, 100, 0.2);
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

span.listEntrySpan {
    display: flex;
}

span.listEntrySpan label:not(.linkColorLabel) {
    display: flex;
    flex: 1;
    align-items: center;
}

span.listEntrySpan label.linkColorLabel {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

div.linkEntry input[type="color"] {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 24px;
}

div.linkEntry input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

div.linkEntry input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

span.listEntrySpan:not(:nth-last-child(1)) {
    margin-bottom: 5px;
}

div.linkEntry input,
div.noteEntry input {
    border-radius: 5px;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex: 1;
    margin-left: 5px;
}

@media(max-width:1500px) {
    #configurationPanel {
        flex-direction: column;
        overflow-y: auto;
    }

    #qrCodePanel {
        padding: 0px;
        box-shadow: none;
    }

    #qrListContainer {
        padding: 5px;
    }
}

@media(max-width:750px) {
    #qrCodePanel {
        border: none;
    }

    #communication {
        overflow-y: auto;
    }

    #communicationMainPanel {
        flex-direction: column;
    }

    #configurationPanel {
        overflow-y: visible;
    }

    .scheduleUnitInfoBar,
    .listEntrySpan {
        flex-direction: column-reverse;
    }

    .scheduleUnitInfoBar label,
    .listEntrySpan label {
        margin-bottom: 5px;
    }
}