#mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.topbar {
    box-shadow: none !important;
}

.subBar {
    border-top: 1px solid rgba(150, 150, 150, 0.4);
    background: rgba(200, 200, 200, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}

.subBar button {
    margin: 0;
    padding: 0px 5px;
    height: 30px;
    border-radius: 0;
    background: transparent;
}

.subBar button:hover {
    background: rgba(100, 100, 100, 0.3);
}

.subBar span {
    height: 100%;
    align-content: center;
}

.subBar * {
    border: none;
    border-left: 1px solid rgba(150, 150, 150, 0.4);
}

.subBar div.subbarSpacer {
    flex: 1;
    border: none;
}

.subBar button:has(span.material-symbols-outlined) {
    display: flex;
    align-items: center;
}

.subBar button span.material-symbols-outlined {
    border: none;
    margin-left: 5px;
}

.subBar select {
    height: 80%;
    align-self: center;
    margin: 0px 5px;
}

#overviewSubResultsButton {
    justify-self: right;
}

#markingSubBar {
    justify-content: left;
    height: 30px;
    justify-content: end;
    border-bottom: 1px solid rgba(150, 150, 150, 0.4);
}

#markingSubBar h2 {
    flex: 1;
    font-size: 100%;
    font-weight: normal;
    border: none;
}

#markingSubBar div {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    border: none;
}

div.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#sheetNameInput {
    max-width: 400px;
    margin: 0px 10px;
    flex: 1;
    text-align: center;
    height: 20px;
    align-self: center;
}

#skillList {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    padding: 10px 5px;
    overflow-y: auto;
}

#overviewCandidatesBar {
    display: none;
}

div.skillCard {
    box-sizing: border-box;
    border: 2px solid color-mix(in srgb, black 60%, transparent);
    box-shadow: 0px 0px 5px 2px color-mix(in srgb, black 20%, transparent);
    border-top-width: 4px;
    border-top-color: var(--color, black);
    border-radius: 5px;
    margin: 5px 10px;
    padding: 5px;
    height: 16em;
    width: 13em;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

div.skillCard:not(.skeleton-container):hover {
    box-shadow: 0px 0px 5px 2px color-mix(in srgb, black 50%, transparent);
}

.skillCardTitle {
    font-weight: bold;
    line-height: 1.2em;
    font-size: 1.1em;
    height: 2.4em;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.skillCardList {
    flex: 1;
    margin: 5px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

.skillCardList span:not(.material-symbols-outlined) {
    font-size: 12px;
    background-color: color-mix(in srgb, var(--iconColor) 5%, transparent);
    border: 1px solid color-mix(in srgb, var(--iconColor) 50%, transparent);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 5px;
}

.skillCardList span span.material-symbols-outlined {
    margin-right: 5px;
    font-weight: 300;

}

.skillCardGoButton {
    height: 3em;
    margin: 0px 5px;
    font-size: 1em;
    font-weight: bold;
}

.skillCardGoText {
    margin: 0;
    margin-top: 5px;
    text-align: center;
    font-size: 0.8em;
    height: 15px;
    border-radius: 3px;
    align-content: center;
}

#markingNavigationBackground {
    position: fixed;
    height: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    visibility: hidden;
    z-index: 1000;
}

#markingNavigationHolder {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    min-width: 300px;
    border-left: 20px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(255, 255, 255, 0) 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    right: -30%;
    transition: 0.5s;
}

#markingNavigationBackground.show {
    animation: 0.5s linear showMarkingNavigation;
    animation-fill-mode: forwards;
}

#markingNavigationBackground.show #markingNavigationHolder {
    right: 0%;
}

#markingNavigationBackground.hide:not(.initial) {
    animation: 0.75s linear hideMarkingNavigation;
    animation-fill-mode: forwards;
}

#markingNavigationBackground.hide #markingNavigationHolder {
    right: -30%;
}

@keyframes hideMarkingNavigation {
    from {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.3);
    }

    to {
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes showMarkingNavigation {
    from {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

#markingNavigationList {
    flex: 1;
    overflow-y: auto;
}

#markingNavigationList div.markingNavListEntry {
    display: flex;
    padding: 5px 0px;
}

#markingNavigationList div.markingNavListEntry:nth-child(even) {
    background-color: rgba(150, 150, 150, 0.1);
}

#markingNavigationList div.markingNavListEntry.current {
    background-color: rgba(50, 100, 150, 0.3);
    box-shadow: inset 0px 0px 5px 0px rgb(50, 100, 150)
}

div.markingNavListEntry span.markingNavTitleHolder {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 5px;
}

div.markingNavListEntry span.markingNavTitleHolder span.markingNavCandidateHolder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

div.markingNavListEntry span.markingNavTitleHolder span.markingNavCandidateHolder p {
    margin: 0;
}

div.markingNavListEntry span.markingNavTitleHolder span.markingNavCandidateHolder p.pass {
    color: green;
}

div.markingNavListEntry span.markingNavTitleHolder span.markingNavCandidateHolder p.fail {
    color: darkred;
}

div.markingNavListEntry span.markingNavTitleHolder span.markingNavCandidateHolder p:not(:nth-last-child(1))::after {
    content: ", ";
    margin-right: 3px;
}

div.markingNavListEntry span.markingNavButtonHolder {
    display: flex;
    align-items: center;
}

div.markingNavListEntry span.markingNavButtonHolder button {
    margin-right: 5px;
    border-radius: 10px;
    height: 30px;
}

div.markingNavListEntry span.markingNavButtonHolder button.deleteButton {
    color: darkred;
    border: none;
}

div.markingNavListEntry span.markingNavButtonHolder button.openButton {
    padding: 0px 10px;
}

#markingNavigationHomeButton,
#markingNavigationResultButton,
#markingNavigationSettingsButton {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 2.5em;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#markingNavigationHomeButton,
#markingNavigationResultButton {
    font-weight: bold;
    font-size: 18px;
}

#markingNavigationHomeButton span,
#markingNavigationResultButton span {
    margin-left: 5px;
}


#markingNavigationResultButton {
    margin-top: 10px;
}

#markingNavigationSettingsButton {
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 5px;
}

#markingNavigationSettingsButton span.material-symbols-outlined {
    font-size: 18px;
    margin-right: 3px;
}

#markingPerItemContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#perItemMarkingHolder {
    min-width: 60px;
    border-right: 2px solid rgba(50, 50, 50, 0.8);
    display: flex;
    overflow-y: auto;
}

#perItemMarkingDiv {
    display: grid;
    grid-auto-rows: 55px;
    width: 100%;
    height: fit-content;
}

#perItemMarkingDiv button {
    padding: 10px;
    margin: 5px;
    height: 50px;
    line-height: 100%;
    border-radius: 50%;
}

#perItemMarkingDiv button.selected {
    background-color: lightgray;
    transition: 0.5s;
}

#markingContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

#markingHolder {
    height: 100%;
    display: flex;
    overflow-x: auto;
    padding: 0px 5px;
}

#markingHolder div.teamMarking {
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 4px 1px black;
}

div.situationDesigner {
    height: 4em;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,
            transparent calc(var(--sit) * (100% / var(--situation-count))),
            rgba(100, 100, 100, 0.2) calc(var(--sit) * (100% / var(--situation-count))),
            rgba(100, 100, 100, 0.2) calc((var(--sit) + 1) * (100% / var(--situation-count))),
            transparent calc((var(--sit) + 1) * (100% / var(--situation-count))));
    transition: --sit 0.5s;
}

@property --sit {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

#globalSituationDesigner {
    border-bottom: 2px solid rgba(50, 50, 50, 0.8);
}

div.teamMarking div.individualMarkingHolder {
    flex: 1;
    display: flex;
    overflow: hidden;
}

div.individualMarkingHolder div.individualMarking {
    width: 30vw;
    min-width: 300px;
    max-width: 500px;
    padding: 5px;
    padding-top: 0px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div.individualMarkingHolder div.individualMarking *:not(.nameSelectSpan).hide {
    display: none;
}

div.individualMarkingHolder div.individualMarking:not(:nth-last-child(2)) {
    border-right: 2px solid black;
}

div.individualMarkingHolder div.newIndividualButtonHolder {
    border-left: 2px solid lightgray;
    display: flex;
    align-items: center;
}

div.individualMarkingHolder div.newIndividualButtonHolder button.newIndividualButton {
    height: 3em;
    width: 3em;
    margin: 0px 5px;
    border-radius: 50%;
    border: 2px solid lightgray;
}

div.individualMarking span.nameSelectSpan {
    display: flex;
    padding: 5px 0px;
    box-shadow: 0px 2px 4px 0px lightgray;
    border-radius: 0px 0px 5px 5px;
}

div.individualMarking span.nameSelectSpan select {
    flex: 1;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

div.individualMarking span.nameSelectSpan button.nameDeleteButton {
    border: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    color: darkred;
}

div.individualMustSeeHolder {
    flex: 1;
    display: grid;
    align-content: start;
    overflow-y: auto;
    margin-bottom: 5px;
}

div.individualMarkingHolder div.rescuerSelectionSection {
    display: flex;
    align-items: center;
    font-size: 14px;
}

div.individualMarkingHolder div.rescuerSelectionSection p {
    margin: 0;
    margin-left: 5px;
}

div.individualMarkingHolder div.rescuerSelectionSection span {
    flex: 1;
    background-color: white;
    border: 2px solid rgba(50, 100, 255, 0.2);
    border-radius: 5px;
    margin: 5px;
    padding: 3px 5px;
    transition: 0.5s;
}

div.individualMarkingHolder div.rescuerSelectionSection span:hover {
    background-color: rgba(50, 100, 255, 0.1);
}

div.individualMarkingHolder div.rescuerSelectionSection span:has(input[type="checkbox"]:checked) {
    background-color: rgba(50, 100, 255, 0.2);
}

div.individualMarkingHolder div.rescuerSelectionSection span label {
    display: flex;
    align-items: center;
    width: 100%;
}

div.individualMarkingHolder div.rescuerSelectionSection span label input[type="checkbox"].markingCheckbox {
    border-radius: 50%;
}

div.individualMarkingHolder div.rescuerSelectionSection span label input[type="checkbox"].markingCheckbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='8' fill='%235B7FA3'/%3E%3C/svg%3E");
}


div.individualMarkingHolder limited-textarea {
    height: 15%;
    min-height: 5em;
    width: 100%;
}

div.individualMarkingHolder div.resultSection {
    display: flex;
    margin-top: 5px;
}

div.resultSection label {
    flex: 1;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 2px;
    border-radius: 5px;
    transition: 0.25s;
}

div.resultSection label.pass {
    border: 2px solid rgba(0, 150, 0, 0.5);
}

div.resultSection label.pass.active {
    background-color: rgba(0, 150, 0, 0.2);
}

div.resultSection label.fail {
    border: 2px solid rgba(200, 0, 0, 0.5);
}

div.resultSection label.fail.active {
    background-color: rgba(200, 0, 0, 0.2);
}

#newTeamButton {
    align-self: center;
    height: 6em;
    min-width: 4em;
    margin: 10px;
    border-radius: 20px;
}

/*Situation Designer*/

div.situationDesignerSelectionHolder {
    flex: 1;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(var(--situation-count), minmax(0, 1fr));
}

span.situationResultSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    container-type: inline-size;
    container-name: situationResult;
}

span.situationDescriptionSpan {
    display: flex;
    align-items: center;
}

span.situationDescriptionSpan p {
    font-size: 15px;
    margin: 0;
    display: none;
}

@container situationResult (min-width: 150px) {
    span.situationDescriptionSpan p.longSituationTitle {
        display: block;
    }

    span.situationDescriptionSpan p.shortSituationTitle {
        display: none;
    }
}

@container situationResult (max-width: 150px) {
    span.situationDescriptionSpan p.longSituationTitle {
        display: none;
    }

    span.situationDescriptionSpan p.shortSituationTitle {
        display: block;
    }
}

span.situationDescriptionSpan button {
    border: none;
    padding: 5px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

span.selectSpanner {
    flex: 1;
    display: flex;
    width: 100%;
}

span.selectSpanner select {
    width: 0;
    max-width: 100%;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

span.selectSpanner select:disabled {
    color: rgb(40, 40, 40);
    background-color: rgba(100, 100, 100, 0.1);
    border-color: darkgray;
    opacity: 1;
    transition: 0.5s;
}

div.situationDesignerBottomHolder {
    font-size: 12px;
    align-items: flex-end;
    text-align: right;
}

div.situationDesignerBottomHolder button {
    font-size: 12px;
    padding: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}

/*Menu*/
span.situationSpan {
    min-width: 0;
}

span.situationSpan multi-select {
    margin: 5px;
    text-align: center;
}

#situationCountHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.1);
    padding-bottom: 5px;
}

#situationCountHolder p {
    margin: 5px 0px;
}

#situationCountHolder p,
span.situationSpan p {
    margin: 5px;
    text-align: center;
}

#situationCountUpButton,
#situationCountDownButton {
    padding: 5px;
    width: 30px;
    font-weight: bold;
}

#situationCountDownButton {
    border-radius: 5px 0px 0px 5px;
}

#situationCountUpButton {
    border-radius: 0px 5px 5px 0px;
}

#situationCountSpan input {
    margin: 0;
    border: 2px solid gray;
    border-width: 2px 0px 2px 0px;
    padding: 5px;
    text-align: center;
    -webkit-appearance: none;
}

#situationCountSpan input:disabled {
    background: white;
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#situationDefaultLabel {
    align-self: center;
    margin-bottom: 5px;
}


#markingBottomBar {
    display: none;
    height: 40px;
    background-color: rgba(150, 0, 150, 0.5);
}

multi-select::part(bar) {
    border: 1px solid gray;
    border-radius: 5px;
}

button.cancelButton {
    padding: 5px;
    margin-bottom: 5px;
}

/*End Menu*/

/*Start Marking Expansion*/

/*Marking span (both main & expansion)- basic styling, positive & negative marking*/
span.markingCheckboxSpan,
span.extraMustSeeSpan {
    border-radius: 5px;
    display: flex;
    padding: 5px;
    transition: 0.25s;
}

span.markingCheckboxSpan:has(result-input[val="false"]),
span.extraMustSeeSpan:has(result-input[val="false"]) {
    background-color: rgba(255, 0, 0, 0.1);
}

span.markingCheckboxSpan:has(result-input[val="true"]),
span.extraMustSeeSpan:has(result-input[val="true"]) {
    background-color: rgba(0, 150, 0, 0.1);
}

span.markingCheckboxSpan:nth-child(even),
span.extraMustSeeSpan:nth-child(even) {
    background-color: rgba(150, 150, 150, 0.1);
}

span.markingCheckboxSpan:has(result-input[val="false"]):nth-child(even),
span.extraMustSeeSpan:has(result-input[val="false"]):nth-child(even) {
    background-color: rgba(255, 0, 0, 0.15);
}

span.markingCheckboxSpan:has(result-input[val="true"]):nth-child(even),
span.extraMustSeeSpan:has(result-input[val="true"]):nth-child(even) {
    background-color: rgba(0, 150, 0, 0.2);
}


span.markingCheckboxSpan {
    padding-right: 0px;
}

/*Continue Marking Expansion*/

label.markingLabel {
    display: flex;
    align-items: center;
    flex: 1;
}

label.markingLabel result-input {
    margin-right: 5px;
}

button.expansionButton {
    border: none;
    margin-left: 10px;
    font-weight: bold;
    background-color: transparent;
}

button.expansionButton.active {
    background-color: rgba(200, 200, 200, 0.5);
}

.extraMustSeeContainer {
    position: absolute;
    width: 50%;
    max-width: 400px;
    height: 50%;
    max-height: 200px;
    overflow: hidden;
    background-color: white;
    box-shadow: black 0px 0px 10px 2px;
}

/*Colouring / Hover*/

span.extraMustSeeSpan.title {
    background-color: rgba(150, 150, 150, 0.4);
    border-radius: 0px;
}

span.extraMustSeeSpan.title:hover {
    background-color: rgba(150, 150, 150, 0.6);
    transition: 0.25s;
}

div.extraMustSeeScreen.navMenu span.extraMustSeeSpan:hover {
    background-color: rgba(150, 150, 150, 0.3);
    transition: 0.25s;
}

div.extraMustSeeScreen.navMenu span.extraMustSeeSpan:nth-child(even):hover {
    background-color: rgba(150, 150, 150, 0.3);
    transition: 0.25s;
}

span.extraMustSeeSpan.title b {
    cursor: default;
}

/*Expansion menu screens*/

.extraMustSeeScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    left: 100%;
    display: flex;
    flex-direction: column;
}

.extraMustSeeList {
    overflow-y: auto;
    flex: 1;
}

/** Results **/
/** sub bar **/
#resultSubBar {
    display: none;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(150, 150, 150, 0.4);
}

#resultSubBar * {
    font-size: 16px;

}

#resultOrganizeByControls {
    padding: 0px 5px;
    border-left: none;
}

#resultOrganizeByControls label,
#resultSearchBarControls label {
    border-left: none !important;
}

#resultSortTypeSelect {
    border-left: none;
    border: 1px solid gray;
    border-radius: 5px;
}

#resultSearchBarControls {
    padding: 0px 5px;
    display: none;
}

#resultSearchBarExecuteButton {
    border: none !important;
    display: none;
}

@media(max-width: 750px) {
    #resultSearchBarControls {
        display: none;
    }

    #resultSearchBarExecuteButton {
        display: none;
    }

    #skillTitle {
        display: none;
    }
}

@media(max-width:500px) {
    .subBar button {
        font-size: 10px !important;
    }
}

/** Main Results **/

#resultDisplayContainer {
    flex: 1;
    overflow-x: auto;
}

#resultDisplayList {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    width: fit-content;
}

#resultDisplayList div.resultCard {
    margin: 10px;
    width: calc(25vw - 20px);
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 3px 1px black;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

@media(max-width:420px) {
    #resultDisplayList div.resultCard {
        min-width: calc(100vw - 20px);
    }
}

/**Overlay**/
#resultDisplayList div.resultCard div.resultCardOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultDisplayList div.resultCard div.resultCardOverlay h1 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    background: white;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px black;
    max-width: 80%;
    text-align: center;
}

#resultDisplayList div.resultCard div.resultCardOverlay button {
    width: 80%;
    font-size: 1.25em;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

/**Info**/
#resultDisplayList div.resultCard label.resultTitle {
    height: 1.2em;
    align-content: center;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
    border-bottom: 2px solid black;
    border-radius: 5px 5px 0px 0px;
}

#resultDisplayList div.resultCard div.resultListContainer {
    flex: 1;
    overflow-y: scroll;
}

#resultDisplayList div.resultCard.skeleton-container div.resultListContainer {
    overflow-y: hidden;
}

#resultDisplayList div.resultCard div.resultListContainer div.resultList {
    width: 100%;
}

/**Result list entry title**/

div.resultList div.resultEntry span.resultEntrySectionTitle {
    width: 100%;
    display: flex;
    background-color: rgba(200, 200, 200, 1);
    align-items: center;
}

div.resultList div.resultEntry span.resultEntrySectionTitle p {
    display: inline;
    margin: 0px 5px;
    flex: 1;
    padding: 5px 0px;
    font-weight: bold;
    border-radius: 5px;
    height: 1em;
    align-content: center;
}

div.resultList div.resultEntry span.resultEntrySectionTitle button.sectionCollapseButton {
    height: 2em;
    width: 3em;
    margin: 5px 5px;
    padding: 5px 10px;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

/**Result list entries**/

div.resultList div.resultEntry div.resultEntrySectionList {
    overflow: hidden;
    transition: 0.3s;
}

div.resultList div.resultEntry div.resultEntrySectionList p.subSectionTitle {
    margin: 0px;
    padding: 5px;
    font-weight: bold;
}

div.resultList div.resultEntry div.resultEntrySectionList span.resultEntrySectionListItem,
div.resultList div.resultEntry div.resultEntrySectionList span.resultEntrySectionSituationItem {
    display: flex;
    justify-items: center;
    padding: 5px;
    padding-left: 10px;
}

div.resultList div.resultEntry div.resultEntrySectionList span.resultEntrySectionSituationItem {
    background-color: rgba(200, 200, 200, 0.3);
}

div.resultList div.resultEntry div.resultEntrySectionList span.resultEntrySectionListItem:nth-child(odd) {
    background-color: rgba(200, 200, 200, 0.15);
}

div.resultList div.resultEntry div.resultEntrySectionList span.resultEntrySectionListItem p.resultEntrySectionListText {
    min-height: 1.2em;
    margin: 0;
    flex: 1;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 0.9em;
}

div.resultList div.resultEntry div.resultEntrySectionList span.resultEntrySectionSituationItem p.resultEntrySectionSituationText {
    margin: 0;
    font-weight: bold;
}

div.resultList div.resultEntry span.resultEntryTitleSection {
    display: flex;
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.5);
    transition: 0.5s;
    cursor: help;
}

div.resultList div.resultEntry span.resultEntryTitleSection:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

div.resultList div.resultEntry span.resultEntryTitleSection.pass {
    background: rgba(0, 100, 0, 0.2);
}

div.resultList div.resultEntry span.resultEntryTitleSection.pass:hover {
    background: rgba(0, 100, 0, 0.3);
}

div.resultList div.resultEntry span.resultEntryTitleSection.fail {
    background: rgba(150, 0, 0, 0.2);
}

div.resultList div.resultEntry span.resultEntryTitleSection.fail:hover {
    background: rgba(150, 0, 0, 0.3);
}

div.resultList div.resultEntry span.resultEntryTitleSection p.resultEntryTitle {
    margin: 0;
    margin-right: 5px;
    flex: 1;
    border-radius: 5px;
    padding-left: 5px;
}

div.resultList div.resultEntry span.resultEntrySectionNoteSection {
    display: flex;
    flex-direction: column;
    height: 7em;
}

div.resultList div.resultEntry span.resultEntrySectionNoteSection p {
    height: 1.2em;
    margin: 0px 10px;
    padding-top: 5px;
    border-radius: 5px;
}

.resultCard:not(.skeleton-container) .resultList div.resultEntry span.resultEntrySectionNoteSection p {
    border-top: 1px dashed gray;
    border-radius: 0px;
}


div.resultList div.resultEntry span.resultEntrySectionNoteSection textarea {
    flex: 1;
    resize: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    border-color: transparent;
}

.resultCard:not(.skeleton-container) span.resultEntrySectionNoteSection textarea {
    border-color: lightgray !important;
    background-color: white;
}

/**Results pass/fail indicator**/

div.resultCard span.resultSectionResultIndicator {
    display: flex;
    align-items: center;
}

div.resultCard span.resultSectionResultIndicator p {
    min-width: 35px;
    height: 1.2em;
    margin: 0;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 5px;
}

div.resultCard span.resultSectionResultIndicator div.resultImage {
    height: 1em;
    width: 1em;
    border: none;
    border-radius: 5px;
    ;
}

div.resultCard span.resultSectionResultIndicator.pass div.resultImage {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5' fill='none' stroke='darkgreen' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

div.resultCard span.resultSectionResultIndicator.pass p {
    color: darkgreen;
}

div.resultCard span.resultSectionResultIndicator.fail div.resultImage {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6 6L18 18M18 6L6 18' fill='none' stroke='darkred' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
}

div.resultCard span.resultSectionResultIndicator.fail p {
    color: darkred;
}

/*Bottom print button*/
div.resultCard div.resultCardBottomSection {
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 5px;
}

div.resultCard div.resultCardBottomSection button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

div.resultCard.skeleton-container div.resultCardBottomSection button.resultGeneratePdfButton span {
    opacity: 0;
}

div.resultCard div.resultCardBottomSection span.printIcon {
    margin-left: 5px;
}

span.resultCardOfflineIndicator {
    padding: 5px;
    border-radius: 5px;
    display: none;
    align-self: center;
    position: absolute;
    bottom: 60px;
    align-items: center;
    background-color: rgb(255 210 0 / 20%);
    border: 1px solid black;
    border-color: rgb(255 150 0);
    cursor: default;
    transition: 0.5s;
}

span.resultCardOfflineIndicator:hover {
    background: rgb(255 210 0 / 10%);
    border-color: rgba(255, 150, 0, 0.3);
    color: lightgray
}

span.resultCardOfflineIndicator span.material-symbols-outlined {
    margin-right: 5px;
}

/**Settings screen**/
#markingModeSettings {
    display: flex;
    flex-direction: column;
}

div.toolkitSettingDialog div.dialogStaticDiv p {
    margin: 0;
}

div.toolkitSettingDialog div.dialogStaticDiv i {
    font-size: 14px;
    padding-right: 5px;
}

div.toolkitSettingDialog div.dialogStaticDiv div {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

div.toolkitSettingDialog div.dialogStaticDiv div:has(input[type='radio']) {
    margin-left: 0px;
}

div.toolkitSettingDialog div.dialogStaticDiv label {
    font-weight: bold;
}

div.toolkitSettingDialog div.dialogStaticDiv span {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

div.toolkitSettingDialog div.dialogStaticDiv result-input {
    margin-right: 5px;
}

#newEvalComplexBlankButton {
    margin: 5px 30px;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 2px gray;
}

#groupList {
    flex: 1;
    overflow-y: auto;
    margin: 10px 0px;
}

#groupList div {
    display: flex;
    padding: 5px 0px;
}

#groupList div:nth-child(even) {
    background-color: rgba(100, 100, 100, 0.1);
}

#groupList div p {
    flex: 1;
    align-content: center;
    margin: 8px 5px;
}

#groupList div button {
    border: none;
    margin: 3px 0px;
    margin-right: 5px;
    padding: 5px 10px;
}

#groupList div button.deleteBtn {
    color: darkred;
    background-color: transparent;
}

#groupList div button.createBtn {
    background-color: rgba(100, 100, 100, 0.1);
    border: 1px solid lightgray;
    font-weight: bold;
}

#groupList div button.createBtn:not(:disabled):hover {
    background-color: rgba(100, 100, 100, 0.3);
}