#mainContainer {
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
}

#splashContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 5px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
}

#candidateListHolder {
    flex: 1;
    max-height: fit-content;
    width: 50%;
    flex-grow: 1;
    overflow-y: auto;
}

#candidateList {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#candidateList button {
    border: none;
    border-radius: 0;
    margin: 2px 0px;
    padding: 15px;
    transition: 0.5s;
    background-color: rgba(200, 200, 200, 0.2);
}


#candidateList button:not(:disabled):hover {
    background-color: rgba(200, 200, 200, 0.7);
}


#candidateList button.active {
    background-color: rgba(100, 100, 100, 0.5);
    font-weight: bold;
}

#joinButtonHolder {
    margin: 20px;
    margin-top: 5px;
    width: 50%;
}

#joinButton {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}