#mainListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#topbarAccountSignUpHolder,
#topbarAccountLoggedInHolder {
    display: none;
}

#mainListDiv {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#mainListDiv div.mainlistholder {
    display: flex;
    flex: 1;
    margin: 10px;
    border-radius: 5px;
    border-width: 4px;
    border-style: solid;
    flex-direction: column;
    box-shadow: 0px 10px 5px 2px gray;
}

#mainListDiv div.mainlistholder div.list {
    overflow-y: auto;
    flex-grow: 1;
    flex-basis: 0px;
}

#mainListDiv div.mainlistholder label.listNoOption {
    width: 100%;
    display: block;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
}


#mainListDiv div.listing {
    display: flex;
    align-items: center;
}

#mainListDiv div.listing div {
    flex: 1;
    padding: 5px;
}

#mainListDiv div.listing label.listingTitle {
    font-weight: bold;
    font-size: 20px;
    display: block;
    width: 100%;
}

#mainListDiv div.listing button {
    margin: 5px;
    border-width: 3px;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

#mainListDiv div.skeleton-container button {
    width: 4em;
}

#mainListDiv div.skeleton-container label {
    width: 100%;
    height: 1.2em;
    display: block;
    border-radius: 5px;
    background: rgba(200, 200, 200, 0.5);
}

#mainListDiv div.skeleton-container label.listingInfo {
    width: 85%;
    margin-top: 0.1em;
    height: 1.1em;
}

#mainLifesavingListHolder,
#mainLifesavingListHolder h1,
#mainLifesavingListHolder button:not(.skeleton) {
    border-color: var(--lifesaving);
}

#mainLifesavingList div.listing:nth-child(even) {
    background: rgba(107, 0, 179, 0.2);
}

#mainFirstAidListHolder,
#mainFirstAidListHolder h1,
#mainFirstAidListHolder button:not(.skeleton) {
    border-color: var(--firstAid);
}

#mainFirstAidList div.listing:nth-child(even) {
    background: rgba(190, 94, 255, 0.2);
}

#mainLeadershipListHolder,
#mainLeadershipListHolder h1,
#mainLeadershipListHolder button:not(.skeleton) {
    border-color: var(--leadership);
}

#mainLeadershipList div.listing:nth-child(even) {
    background: rgba(186, 155, 0, 0.2)
}

#mainOtherListHolder,
#mainOtherListHolder h1,
#mainOtherListHolder button:not(.skeleton) {
    border-color: var(--other);
}

#mainOtherList div.listing:nth-child(even) {
    background: rgba(5, 102, 0, 0.2);
}

#mainListDiv div h1 {
    text-align: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    font-size: 18px;
    font-weight: normal;
    background: rgba(150, 150, 150, 0.1);
}

#mainListContainer a {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    text-align: center;
}

#supportedSources {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

#supportedSources div {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#supportedSources img,
#supportedSources label {
    width: 15px;
    height: 15px;
    font-size: 15px;
}

.outlinedIcon {
    font-weight: bold;
    border: 2px solid green;
    border-radius: 5px;
    padding: 2px;
    font-size: 15px;
}

#blankIcon {
    padding: 3px 15px;
    border-color: darkcyan;
    cursor: default;
    background-color: white;
}

#sourceDialogListing div.sourceDialogListOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 2.5em;
    transition: 0.5s;
}

#sourceDialogListing div.sourceDialogListOption:hover {
    background: rgba(50, 100, 255, 0.25);
}

#sourceDialogListing div.sourceDialogListOption:nth-child(odd) {
    background: rgba(50, 100, 255, 0.1);
}

#sourceDialogListing div.sourceDialogListOption:nth-child(odd):hover {
    background: rgba(50, 100, 255, 0.25);
}

#sourceDialogListing div.sourceDialogListOption * {
    font-size: 1.5em;

}

#sourceDialogListing div.sourceDialogListOption img {
    height: 1.5em;
}

#sourceDialogListing div.sourceDialogListOption *:nth-child(1) {
    margin-right: 5px;
}

label.hint {
    /*TODO: Unused?*/
    font-weight: lighter;
    font-size: 10px;
    display: block;
    text-align: center;
    margin-top: 5px;
}

#csvFilePicker {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#csvFilePickerButton {
    all: revert;
    height: 60%;
    background: rgba(200, 200, 200, 0.2);
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

#csvFilePickerButton:hover {
    background: rgba(200, 200, 200, 0.6);
}

#csvFilePickerNameHolder {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

#csvConfirmButton {
    height: 30px;
    font-weight: bold;
    padding: 0px 20px;
}

#csvConfirmButtonHolder {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media(max-width: 800px) {
    #mainListDiv {
        flex-direction: column;
    }

    #supportedSources {
        flex-direction: column;
    }

    #mainListDiv div.mainlistholder div.list {
        flex-basis: unset;
    }
}

#contactForm {
    width: 100%;
    flex: 1;
}

#matchingIFrame {
    width: 100%;
    height: 100%;
    display: none;
    border: none;
}