div.topbar {
    box-shadow: none !important;
}

#topbarAccountSignUpHolder,
#topbarAccountLoggedInHolder {
    display: none;
}

#saveHolder label {
    align-content: center;
    height: 100%;
}

#saveNameInput {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid darkgray;
    border-radius: 3px;
    height: 80%;
    margin-right: 5px;
}

#saveShortformButton {
    display: none;
}

#saveShortformButton span {
    align-content: center;
}

#notSavedLabel {
    color: red;
}

#notSavedSaveButton {
    all: unset;
    border: 1px solid darkgray;
    padding: 4px 6px;
    background: white;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: black;
    transition: 0.3s;
}

#notSavedSaveButton:not(:disabled):hover{
    background: rgba(255,255,255,0.7);
}



@media(max-width:1000px) {

    /*Swap the save name input for the button*/
    #saveShortformButton {
        display: block;
    }

    #saveNameLabel {
        display: none;
    }

    #saveNameInput{
        display: none;
    }

    #saveNameInput.visible{
        display: inline;
    }

    div.topbar h1.collapse{
        display: none;
    }
}

/*Course Info*/

label.inputLabelFlex,
label.inputLabelPhoneFlex {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

label.inputLabelFlex input,
label.inputLabelFlex select {
    flex: 1;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

label.inputLabelPhoneFlex input:nth-child(1) {
    border-radius: 5px;
    border: 1px solid black;
    width: 40px;
    text-align: center;
}

label.inputLabelPhoneFlex input:nth-child(2) {
    flex: 1;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}


div.courseInfoDialogInputHolder {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.courseInfoDialogInputHolder:nth-child(even) {
    background: rgba(100, 150, 255, 0.15);
    box-shadow: 0px 0px 3px 1px rgba(100, 150, 255, 0.3);
}

div.courseInfoDialogInputHolder h3 {
    margin: 0;
    text-align: center;
}

div.courseInfoDialogInputHolder label {
    margin-top: 5px;
}

/*Downloads*/

#downloadScreen {
    display: flex;
    flex-direction: column;
}

#downloadList {
    overflow-y: auto;
}

#downloadList div.downloadListRow {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 3px;
}

#downloadList div.downloadListRow:nth-child(odd) {
    background: rgba(100, 150, 255, 0.2);
}

#downloadList div.downloadListRow label {
    flex-grow: 1;
    margin-left: 5px;
}

#downloadList div.downloadListRow button {
    margin-right: 5px;
}

/*Main Table*/
#MainSelectionContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#mainSelectionTableHolder {
    overflow: auto;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
}

#mainSelectionTable {
    border-collapse: separate;
    border-spacing: 0 0.25em;
    table-layout: fixed;
}

#mainSelectionTable tr th select {
    height: 2em;
    width: 150px;
    border-radius: 5px;
}

#mainSelectionTable tr th button.filterButton {
    font-size: 1em;
    font-weight: bold;
    border: none;
    padding: 3px;
    margin-left: 3px;
    background: transparent;
    display: none;
}

#mainSelectionTable tr th button.filterButton.active {
    background: rgba(50, 100, 255, 0.4);
}

#mainSelectionTable tr th button.filterButton:hover {
    background: rgba(255, 255, 255, 0.5);
}

#mainSelectionTable tr span {
    display: flex;
}

#mainSelectionTable tr input:not([type=checkbox]) {
    flex-grow: 1;
    width: 10px;
}

#mainSelectionTable tr input {
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    transition: 0.5s;
}

#mainSelectionTable tr input.warningActive {
    background: rgba(230, 230, 0, 0.3);
}

#mainSelectionTable tr span button.autofillButton {
    font-size: 20px;
    border: none;
    background: none;
    margin-left: 2px;
    padding: 0;
}

#mainSelectionTable tr span button.autofillButton:not(:disabled):hover {
    background: rgba(200, 200, 200, 0.4);
}

#mainSelectionTable tr:nth-child(odd) {
    background: rgba(50, 100, 255, 0.1);
}

#mainSelectionTable tr:nth-child(1) {
    background: rgba(50, 100, 255, 0.4);
}

#mainSelectionTable tr td:nth-child(1),
#mainSelectionTable tr th:nth-child(1) {
    min-width: 175px;
    white-space: nowrap;
    border-radius: 5px 0 0 5px;
    border-left: 1px solid gray;
}

#mainSelectionTable tr td:nth-last-child(1),
#mainSelectionTable tr th:nth-last-child(1) {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid gray;
}

#mainSelectionTable tr td,
#mainSelectionTable tr th {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 8px;
}

#mainSelectionTable tr td:nth-child(1) *,
#mainSelectionTable tr th:nth-child(1) {
    text-align: left;
}

#mainSelectionTableManualResponseBtn {
    all: revert;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(220, 220, 220, 0);
    border: 2px solid rgba(50, 100, 255, 0.6);
    padding: 5px;
    border-radius: 10px;
    transition: 0.25s;
}

#mainSelectionTableManualResponseBtn:hover {
    background: rgba(220, 220, 220, 0.4);
}

#mainSelectionTable tr:nth-child(1) button {
    background: white;
}

#mainSelectionTable tr:nth-child(1) button:hover {
    background: rgb(230, 230, 230);
}

#mainSelectionButtonContainer {
    margin-top: 2px;
    box-shadow: 0 -1px 4px 1px rgba(100, 100, 100, 0.75);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#mainSelectionButtonContainer button {
    padding: 5px;
}

#mainSelectionLabelContainer {
    flex: 1;
}

#mainSelectionSheetLabel {
    height: 100%;
    display: block;
    align-content: center;
}

/*Warning Bar*/
#mainSelectionWarningBar {
    background: rgba(230, 200, 0, 0.3);
    display: flex;
    border-radius: 5px 5px 0 0;
    align-items: center;
}

#mainSelectionWarningBar p {
    margin: 0;
    padding-top: 2px;
    padding-left: 5px;
}

#warningBarTopLine {
    font-weight: bold;
}

#warningBarBottomLine {
    font-style: italic;
}

#ageWarningDateInput {
    margin-left: 5px;
    border-radius: 5px;
    border-width: 1px;
}

#warningBarMessageHolderSpan {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#ageWarningExamDateLabel {
    align-content: center;
}

#warningPreviousBtn,
#warningNextBtn {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

#warningPreviousBtn:not(:disabled):hover,
#warningNextBtn:not(:disabled):hover {
    background: rgba(230, 230, 230, 1);
}

/*Filter*/
#filterMenu {
    position: absolute;
    width: 200px;
    background: white;
    display: none;
    flex-direction: column;
    border-radius: 5px 0 5px 5px;
    box-shadow: black 0px 3px 5px 3px;
}

#filterMenu p {
    margin: 0;
}

.flex {
    display: flex;
}

#filterMenu span {
    padding-bottom: 5px;
    text-align: center;
}

#filterMenu label {
    text-align: center;
}

#filterOptionSelect {
    border: 1px solid gray;
    border-radius: 5px;
}

#filterInput {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

/*Resizing*/
@media(max-width: 700px) {
    #mainSelectionButtonContainer {
        flex-direction: row-reverse;
    }

    #mainSelectionLabelContainer {
        display: none;
    }
}

/**/

/**/